@charset "utf-8";
/*CSS Document*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --azul: #002A54;
    --rojo: #FF0006;
    --amarillo: #FEB500;
    --hueso: #E9E9E9;
    --celeste: #0096C3;
}

/* fonts */
h1 {
    font-size: 5.21vw;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
}
h2 {
    font-size: 3.65vw; 
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
}
h3 {
    font-size: 2.60vw; 
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
}
h4 {
    font-size: 1.56vw;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
}
h5 {
    font-size: 1.25vw; 
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
}
p {
    font-size: 1.1vw; 
    font-family: "IBM Plex Sans", sans-serif;
}

body {
    cursor: url(img/cursor.svg),auto;
}


nav{
    z-index: 2;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 5% ;
    background-color: var(--azul);
    width: 100%;
    height: 8.12vw;
}

#navbotones{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

/*nav ajustado para mobile*/
.botonnav {
    display: block;
    cursor: pointer;
}

.mobile {
    display: none;
}
.listanav {
    display: none;
    position: relative;
    background-color: #002A54;
    width: auto;
    z-index: 1;
}
.mostrarnav {
    display: inline-grid;
    grid-template-columns: 320px 320px 320px;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
/*fin de nav mobile*/
#logo{
    margin-top: 3.66vw;
    z-index: 1; 
}
span{
    display: inline-block;
    color: var(--azul);
    border-radius: 1.10vw;
    padding: 0.35vw 2.34vw;
    background-color: var(--amarillo);
    box-sizing: border-box;
    font-size: 1.25vw;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight:600 ;
    list-style: none;
    border: none;
    border-bottom:0.37vw solid var(--rojo);
    transition: all 0.2s ease;  
}
span.button:hover {
    transform: translateY(-5px); 
}
span.button:active {
    transform: translateY(2px);
    border-bottom: 5px solid var(--rojo);
}
/*Daniiiiiiiiiiiii indexxxxxxxxxxxxxxxxxxxxxxx*/
.container {
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: auto;
    padding: 0%;
}

#alvideo {
    display: none; 
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

#staticimage {
    display: block;
    width: 100%;
    height: auto;
}
.text-content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    z-index: 2;
    margin-bottom: 50px;
}
#tituloh1in{
    color: var(--azul);
    background-color: var(--hueso);
    padding: 10px 20px;
    border-radius: 2.19vw;
    display: block;
    white-space: nowrap;
    text-shadow: 3px 3px 0 var(--celeste);
}
#subtituloin{
    color: var(--hueso);
    text-shadow: 2px 2px 0 var(--celeste);
}

/*------------------------------*/
/*index galería*/
#galeriacarruselin{
    background-color: var(--celeste);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}
#titulogaleriain{
    color: var(--azul);
    margin-bottom: 2%;
}
.bondis{
    margin-top: 5%;
    color: var(--amarillo);
    text-shadow: 2px 2px 0 var(--azul);
    font-size: 3.65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botongrande{
    background-color: var(--azul);
    border-radius: 1.10vw;
    color: var(--hueso);
    padding: 10px 20px;
    font-size: 2.08vw;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.3s ease;
}
.botongrande:hover {
    background-color: var(--hueso); 
    color: var(--azul); 
}
.carrusel{
    border-radius: 2.19vw;
}
.carousel-indicators{
    position: relative;
}
/*------------------------*/
/*indexmapa*/
#mapaindex{
    display: flex;
    align-items: center;
}
#titulomapain{
    color: var(--celeste);
}
#textomapain{
    color: var(--azul);
}
.botonarutas{
    color: var(--hueso);
    background-color: var(--azul);
    border-radius: 1.10vw;
    font-family: "IBM Plex Sans", sans-serif;
	font-weight: 600;
    padding: 10px 20px;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.3s ease;
}
.botonarutas:hover {
    background-color: var(--hueso); 
    color: var(--azul); 
}

#infomapain{
    width: 25%; 
    margin: 2.19vw;
} 
#mapaindex img {
    width: 75%; 
    height: auto;

}
/*--------------*/
/*blogindex*/
#blogin{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#blogindex{
    background-color: var(--amarillo);
    padding: 80px 40px;
}
.indexnota {
    position: relative; 
    width: 466px;
    height: 695px; 
}
.imgnotas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 0px 0px 30px 30px;
}
.infonotaindex {
    position: absolute;
    bottom:0; 
    left: 0;
    z-index: 2; 
    color: white;
    padding: 40px;
    gap: 60px;
    width: 100%;
    border-radius: 0px 0px 30px 30px;
}
.descri{
    margin: 20px 0 20px 0;
}
.botonablog{
    color: var(--hueso);
    border: 2px solid var(--hueso);
    border-radius: 1.10vw;
    font-family: "IBM Plex Sans", sans-serif;
	font-weight: 400;
    padding: 5px 1.10vw;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.3s ease;
}
.botonablog:hover{
    border: 2px solid var(--celeste); 
    color: var(--celeste); 
}
/*---------------------------------*/
/*nosotros*/
.nosotros{
    background-color: var(--azul);
    padding: 60px 2.19vw;
}
#historianosotros{
    display: flex;
    align-items: center;
    margin: 2%;
}
#infonosotros{
    color: var(--azul);
    background-color: var(--hueso);
    border-radius: 2.19vw;
    padding: 100px 40px;
    max-width: 30%;
}

#img1{
    border-radius: 2.19vw;
}
#img2{
    border-radius: 2.19vw;
}
/*-----------------------------*/
/*formulario*/
.formulario-con-imagen {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative; 
    z-index: 1;
}

.formulario-con-imagen img {
    width: 100%;
    height: auto;
}
.formulario-sobre-imagen {
    position: absolute; 
    top: 50%; 
    right: 5%;
    transform: translateY(-50%); 
    background-color: var(--azul);
    padding: 50px ;
    border-radius: 2.19vw;
    width: 50%;
    height: 60%;
}
legend {
    font-family: "IBM Plex Sans", sans-serif;
	font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: var(--hueso);
    text-shadow: 2px 2px 0 var(--celeste);
}
label{
    font-family: "IBM Plex Sans", sans-serif;
	font-weight: 400;
    font-size: 20px;
    color: var(--hueso);
}
input{
    font-family: "IBM Plex Sans", sans-serif;
	font-weight: 400;
    color: var(--azul);
}
.form-control{
    width: 65%;
}
.mb-3{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}
#enviar{
    color: var(--azul);
    border-radius: 1.10vw;
    padding: 5px 2.19vw;
    background-color: var(--amarillo);
    box-sizing: border-box;
    font-size: 20px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight:600;
    border-bottom: 5px solid var(--rojo);
    transition: all 0.2s ease; 
    display: block;
    margin: 20px auto 0;
}
#enviar:hover {
    transform: translateY(-5px); 
}
#enviar:active {
    transform: translateY(2px);
    border-bottom: 5px solid var(--rojo);
}
#lineas{
    z-index: 100;
}
/*--------------------------------*/
footer{
    background-color: var(--azul);
    position: relative;
    z-index: 2;
}
footer ol{
    font-family: "IBM Plex Sans", sans-serif;
	font-weight: 400;
    font-size: 20px;
    color: var(--hueso);
}
#interiorfooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    padding: 70px 2.19vw;
}
footer li{
    list-style-type: none;
}
#redessociales{
    display: flex;
    justify-content: space-between;
    gap: 2.19vw;
}
#lineas {
    position: absolute;
    top: -50px; 
    left: 0;
    width: 100%;
    z-index: 3; 
}
/*--------dani-------------------------------------------------------------------*/
/* MAIN */

/*inicio galeria*/

.bienvenida-galeria {
    height: 717px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url("img/banner_10.jpg") lightgray 50% / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bienvenida-galeria div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 24px 43px;
    width: 800px;
    background-color: #002A54;
    border: 0px;
    border-radius: 30px;
    color: white;
    gap: 20px;
}

.categorias {
    background-color: var(--azul);
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding: 56px 45px 120px 45px;
}

.flechita-galeria {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}

.flechita-galeria.back {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.dropbtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002A54;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    color: white;
    padding: 16px 70px 16px 70px;
    box-shadow: 0px 0px 0px 6px #FEB500;
    border-radius: 20px;
    cursor: pointer;
}
  
  .dropbtn:hover {
    background-color: #002A54;
    box-shadow: 5px 6px 0px 0px #002A54;
}

.dropdown {
    position: relative;
    width: 100%;
    display: inline-block;
}
    
.dropdown-content {
    display: none;
    position: relative;
    background-color: #002A54;
    width: auto;
    z-index: 1;
}
  
.show {
    display: inline-grid;
    grid-template-columns: 320px 320px 320px;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.info {
    position: relative;
    bottom: 0;
    left: -319.6px;
    background-color: rgb(0, 42, 54, 0.75);
    overflow: hidden;
    height: 0;
    width: 313px;
    transition: .5s ease;
    color: white;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid-item {
    display: inline-grid;
    place-items: center;
    grid-template-columns: 320px 320px 320px;
}

.grid-item:hover .info {
    height: 223px;
}

/*BLOG PAGE*/
.bienblog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bienvenida-blog {
    height: 717px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url("img/banner_zonablog.jpg") lightgray 50% / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bienvenida-blog div {
    width: 1200px;
    border: 0px;
    color: white;
}

.bienvenida-blog div {
    color: var(--Amarillo, #FEB500);
    text-align: center;
    text-shadow: 4px 2px 0px #E52522;
    flex-direction: column;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 24px 43px;
    width: 1400px;
    background-color: #002A54;
    border: 0px;
    border-radius: 30px;
}

#blog {
    display: flex;
    width: 1752px;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 111px 52px;
    flex-shrink: 0;
    flex-wrap: wrap;
    color: #E9E9E9;
    background-color: #E9E9E9;
}

.blog {
    width: 1922px;
    height: 836.004px;
    flex-shrink: 0;
}

#blogpage{
    background-color: var(--hueso);
    padding: 80px 40px;
}

#blog img {
    width: 471.777px;
    height: 695.25px;
    flex-shrink: 0;
    border-radius: 0px 0px 30px 30px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url("img/nota1.jpg") lightgray 50% / cover no-repeat;
}

/*MAPA PAGE*/
.bienvenida-mapas {
    height: 1100px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url("img/banner_15 (1).jpg") lightgray 50% / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bienvenida-mapas div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 24px 43px;
    width: 1600px;
    background-color: #FEB500;
    border: 0px;
    border-radius: 30px;
    color: #002A54;
}
.seccion-colectivo {
    height: 300px;
    background: #002A54;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FEB500;
    margin: 0px;
}

#mapas {
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    justify-content: space-between;
    gap: 100px;
}
#contenedor-lineas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 800px;
}
.btn-group-vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    justify-items: center;
    gap: 85px;
}
.btn-primary {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 50px;
    color: #D9D9D9;
    background-color: #E22522;
    border-radius: 30px;
    border-color: #E52522;
    height: 80px;
    bottom: 20%;
}
.btn-group-vertical>.btn~.btn {
    border-radius: 30px;
}
.btn-group-vertical>.btn:not(:last-child):not(.dropdown-toggle) {
    border-radius: 30px;
}

label {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    gap: 50px;
    color: #D9D9D9;
    background-color: #E22522;
    border-radius: 30px;
}
#contenedor-mapas {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
}
#mapas {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    transition: opacity 0.5s ease-in-out;
}
.separador-main {
    background-color: #002A54;
    height: 200px;
}

/*------------------------FIN MAPAS-----------------------------------*/


.mapa {
    width: 80%MAPAS;
    height: 400px;
    margin: 20px auto;
}

ol{
    font-family: "IBM Plex Sans", sans-serif;
	font-weight: 400;
    font-size: 20px;
    color: var(--hueso);
}

li{
    list-style-type: none;
}
#redessociales{
    display: flex;
    justify-content: space-between;
    gap: 2.19vw;
}

@media only screen and (max-width: 1366px){
    .imgnotas {
        width: 95%;
        height: auto;
    }
    .botonablog {
        padding: 8px 16px;
    }
    #infonotaindex{
        width: 95%;
        height: auto;
    }
    #historianosotros {
        margin: 2%;
    }
    #img {
        display: flex;
    }
    .infonotaindex {
        bottom: 80px;
        width: 95%;
    }
    #img1{
        width: 55%;
        height: auto;
    }
    #img2 {
        width: 40%;
        height: 100%;
    }
    label, 
    #enviar {
        font-size: 18px; 
    }
}

@media screen and (max-width: 600px) {
    #logo {
        width: 50%;
        height: 50%;
        margin-top: 0px;
    }

    nav div {
        display: none;
    }
    #navbotones{
        display: none;
    }
    /*si ya lo copiaron en otro lado saquenlo a lo de mobile!*/

    .mobile {
        position: relative;
        width: 100%;
        display: inline-block;
    }

    /*solo esto de arriba, lo demás es para la galeria je*/

    .bienvenida-galeria {
        height: 280px;
    }
    
    .bienvenida-galeria h2 {
        font-size: 30px;
    }

    .bienvenida-galeria h3 {
        font-size: 20px;
    }

    .info h3 {
        font-size: 20px;
    }

    .info h4 {
        font-size: 15px;
    }

    .dropbtn {
        font-size: 18px;
    }

    .flechita-galeria {
        height: 20%;
        width: 20%;
    }

    body {
        width: 100vw;
    }
    /*dani---*/
    .text-content {
        margin-bottom: 0px; 
    }
    #logo {
        margin-top: 10px;
        width: 80px;
    }
    #video {
        content: url(img/banner-index-600.jpg);
    }
    #tituloh1in {
        font-size: 6vw; 
        padding: 8px 16px; 
        border-radius: 4vw; 
        text-shadow: 2px 2px 0 var(--celeste);
    }
    #subtitulo {
        font-size: 3vw; 
    }
/*----------------------------*/
    #galeriacarrusel {
        padding: 10px;
    }

    .bondis {
        font-size: 5vw; 
        margin-top: 5%;
        font-size: 6vw;
        text-shadow: 2px 2px 0 var(--azul);
    }

    .botongrande {
        font-size: 4vw; 
        padding: 8px 16px;
        border-radius: 8px;
        margin-bottom: 3%;
    }

    .carrusel {
        width: 100%; 
        height: auto; 
        border-radius: 4vw; 
    }
    .carousel-indicators{
        display: none;
    }
    /*---------------*/
    #blog {
        flex-direction: column;
        gap: 30px;
    }
    .indexnota {
        width: 100%;
    }
    .botonablog {
        font-size: 3.5vw;
        padding: 8px 16px;
    }
        h4{
        font-size: 4vw;
    }
    .descri{
        font-size: 3.5vw;
    }
/*----------------------------------------------------------------*/
/**/
#infomapain{
    width: 80%;
}
#blogin{
    display: flex;
    flex-direction: column;
}
.infonotaindex{
    bottom: 276px;
}
/**/
#historianosotros {
    flex-direction: column;
    align-items: center;
}
#infonosotros {
    max-width: 90%; 
    padding: 30px;
    text-align: center;
}
h3 {
    font-size: 5vw; 
}
p {
    font-size: 3vw; 
}
#img {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#img1,
#img2 {
    display: none;
}
/*-----------------*/
.formulario-sobre-imagen {
    width: 90%; 
    height: auto;
    padding: 30px; 
    left: 5%; 
    right: 5%;
    top: 10%; 
    transform: translateY(0); 
    }
    legend {
        font-size: 24px; 
    }

    label, 
    #enviar {
        font-size: 16px; 
    }

    #redessociales {
        justify-content: center; 
    }
    #mapaindex {
        flex-direction: column-reverse; 
        align-items: center; 
        text-align: center;
    }
    #infomapa {
        width: 90%; 
        margin: 10px 0; 
    }
    #mapaindex img {
        width: 100%; 
        height: auto;
        margin-bottom: 20px;
    }
    .botonarutas {
        font-size: 3vw;
        padding: 12px 24px; 
        border-radius: 3vw; 
    }
    #textomapa{
        font-size: 4vw;
    }
    #titulomapa{
        font-size: 6vw;
    }
    #fondoform {
        content: url("img/formulario600.jpg");
        width: 100%; 
        height: auto;
    }
    #footer {
        position: relative;
        padding-top: 20px; 
    }
    
    #lineas {
        width: 100%; 
        height: 50px; 
        object-fit: cover; 
    }
    .mb-3{
        margin-left: 5%;
    }
    .form-control{
        width: 80%;
    }
}