@charset "utf-8";
/*CSS Document*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --azul: #002A54;
    --rojo: #FF0006;
    --amarillo: #FEB500;
    --hueso: #E9E9E9;
    --celeste: #0096C3;
}

/* fonts */
h1 {
    font-size: 5.21vw;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
}
h2 {
    font-size: 3.65vw; 
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
}
h3 {
    font-size: 2.60vw; 
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
}
h4 {
    font-size: 1.56vw;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
}
p {
    font-size: 1.25vw; 
    font-family: "IBM Plex Sans", sans-serif;
}

body {
    cursor: url(img/cursor.svg),auto;
}


nav{
    z-index: 2;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 5% ;
    background-color: var(--azul);
    width: 100%;
    height: 8.12vw;
}

#navbotones{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
#logo{
    margin-top: 3.66vw;
    z-index: 1; 
}
span{
    display: inline-block;
    color: var(--azul);
    border-radius: 1.10vw;
    padding: 0.35vw 2.34vw;
    background-color: var(--amarillo);
    box-sizing: border-box;
    font-size: 1.25vw;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight:600 ;
    list-style: none;
    border: none;
    border-bottom:0.37vw solid var(--rojo);
    transition: all 0.2s ease;  
}
span.button:hover {
    transform: translateY(-5px); 
}
span.button:active {
    transform: translateY(2px);
    border-bottom: 5px solid var(--rojo);
}
/*Daniiiiiiiiiiiii indexxxxxxxxxxxxxxxxxxxxxxx*/
.container {
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: auto;
    padding: 0%;
}

#alvideo {
    display: none; 
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

#staticimage {
    display: block;
    width: 100%;
    height: auto;
}
.text-content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    z-index: 2;
    margin-bottom: 50px;
}
#tituloh1in{
    color: var(--azul);
    background-color: var(--hueso);
    padding: 10px 20px;
    border-radius: 2.19vw;
    display: block;
    white-space: nowrap;
    text-shadow: 3px 3px 0 var(--celeste);
}
#subtituloin{
    color: var(--hueso);
    text-shadow: 2px 2px 0 var(--celeste);
}

/*------------------------------*/
/*index galería*/
#galeriacarruselin{
    background-color: var(--celeste);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}
#titulogaleriain{
    color: var(--azul);
    margin-bottom: 2%;
}
.bondis{
    margin-top: 5%;
    color: var(--amarillo);
    text-shadow: 2px 2px 0 var(--azul);
    font-size: 3.65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botongrande{
    background-color: var(--azul);
    border-radius: 1.10vw;
    color: var(--hueso);
    padding: 10px 20px;
    font-size: 2.08vw;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.3s ease;
}
.botongrande:hover {
    background-color: var(--hueso); 
    color: var(--azul); 
}
.carrusel{
    border-radius: 2.19vw;
}
.carousel-indicators{
    position: relative;
    opacity: 0;
}
.carousel-control-next{
    content: url(img/flecha\ der.svg);
    opacity: 1;
    width: 120px;
    height: auto;
    top: 300px;
    left: 809px;
}
.carousel-control-prev{
    content: url(img/flecha\ izq.svg);
    width: 120px;
    height: auto;
    opacity: 1;
    top: 300px;
    left: -80px;
}
/*------------------------*/
/*indexmapa*/
#mapaindex{
    display: flex;
    align-items: center;
}
#titulomapain{
    color: var(--celeste);
}
#textomapain{
    color: var(--azul);
}
.botonarutas{
    color: var(--hueso);
    background-color: var(--azul);
    border-radius: 1.10vw;
    font-family: "IBM Plex Sans", sans-serif;
	font-weight: 600;
    padding: 10px 20px;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.3s ease;
}
.botonarutas:hover {
    background-color: var(--hueso); 
    color: var(--azul); 
}

#infomapain{
    width: 25%; 
    margin: 2.19vw;
} 
#mapaindex img {
    width: 75%; 
    height: auto;

}
/*--------------*/
/*blogindex*/
#blogin{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#blogin2{
    display: flex;
    align-items: center;
    justify-content: s;
}
#blogindex{
    background-color: var(--amarillo);
    padding: 80px 40px;
}
.indexnota {
    position: relative; 
    width: 466px;
    height: 695px; 
}
.imgnotas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 0px 0px 30px 30px;
}
.infonotaindex {
    position: absolute;
    bottom:0; 
    left: 0;
    z-index: 2; 
    color: white;
    padding: 40px;
    gap: 60px;
    width: 100%;
    border-radius: 0px 0px 30px 30px;
}
.descri{
    margin: 20px 0 20px 0;
}
.botonablog{
    color: var(--hueso);
    border: 2px solid var(--hueso);
    border-radius: 1.10vw;
    font-family: "IBM Plex Sans", sans-serif;
	font-weight: 400;
    padding: 5px 1.10vw;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.3s ease;
}
.botonablog:hover{
    border: 2px solid var(--celeste); 
    color: var(--celeste); 
}
#alosblogs{
    display: flex;
    justify-content: column;
    margin-top: 50px;
}

/*nosotros*/
.nosotros{
    background-color: var(--azul);
    padding: 60px 2.19vw;
}
#historianosotros{
    display: flex;
    align-items: center;
    margin: 2%;
}
#infonosotros{
    color: var(--azul);
    background-color: var(--hueso);
    border-radius: 2.19vw;
    padding: 100px 40px;
    max-width: 30%;
}

#img1{
    border-radius: 2.19vw;
}
#img2{
    border-radius: 2.19vw;
}
/*-----------------------------*/
/*formulario*/
.formulario-con-imagen {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative; 
    z-index: 1;
}

.formulario-con-imagen img {
    width: 100%;
    height: auto;
}
.formulario-sobre-imagen {
    position: absolute; 
    top: 45%; 
    right: 5%;
    transform: translateY(-50%); 
    background-color: var(--azul);
    padding: 50px ;
    border-radius: 2.19vw;
    width: 40%;
    height: 60%;
}
legend {
    font-family: "IBM Plex Sans", sans-serif;
	font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: var(--hueso);
    text-shadow: 2px 2px 0 var(--celeste);
}
label{
    font-family: "IBM Plex Sans", sans-serif;
	font-weight: 400;
    font-size: 20px;
    color: var(--hueso);
}
input{
    font-family: "IBM Plex Sans", sans-serif;
	font-weight: 400;
    color: var(--azul);
}
.form-control{
    width: 65%;
}
.mb-3{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}
#enviar{
    color: var(--azul);
    border-radius: 1.10vw;
    padding: 5px 2.19vw;
    background-color: var(--amarillo);
    box-sizing: border-box;
    font-size: 20px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight:600;
    border-bottom: 5px solid var(--rojo);
    transition: all 0.2s ease; 
    display: block;
    margin: 50px auto 0;
    height: 60px;
}
#enviar:hover {
    transform: translateY(-5px); 
}
#enviar:active {
    transform: translateY(2px);
    border-bottom: 5px solid var(--rojo);
}
#lineas{
    z-index: 100;
}
/*--------------------------------*/
footer{
    background-color: var(--azul);
    position: relative;
    z-index: 2;
}
footer ol{
    font-family: "IBM Plex Sans", sans-serif;
	font-weight: 400;
    font-size: 20px;
    color: var(--hueso);
}
#interiorfooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    padding: 70px 2.19vw;
}
footer li{
    list-style-type: none;
}
#redessociales{
    display: flex;
    justify-content: space-between;
    gap: 2.19vw;
}
#lineas {
    position: absolute;
    top: -50px; 
    left: 0;
    width: 100%;
    z-index: 3; 
}
/*--------dani-------------------------------------------------------------------*/
/* MAIN */

/*inicio galeria*/

.bienvenida-galeria {
    height: 717px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url("img/banner_10.jpg") lightgray 50% / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bienvenida-galeria div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 24px 43px;
    width: 80%;
    background-color: #002A54;
    border: 0px;
    border-radius: 30px;
    color: white;
    gap: 20px;
}

.categorias {
    background-color: var(--azul);
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding: 56px 45px 120px 45px;
}

.flechita-galeria {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}

.flechita-galeria.back {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.dropbtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002A54;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    color: white;
    padding: 16px 70px 16px 70px;
    box-shadow: 0px 0px 0px 6px #FEB500;
    border-radius: 20px;
    cursor: pointer;
}
  
.dropbtn:hover {
    background-color: #002A54;
    box-shadow: 5px 6px 0px 0px #002A54;
}

.dropdown {
    position: relative;
    width: 100%;
    display: inline-block;
}
    
.dropdown-content {
    display: none;
    position: relative;
    background-color: #002A54;
    z-index: 1;
}
  
.show {
    display: inline-grid;
    grid-template-columns: repeat(3, 420px);
    gap: 20px;
    padding: 20px 0px;
    width: 100%;
    justify-content: center;
}

.info {
    position: relative;
    bottom: 0;
    left: -420px;
    background-color: rgb(0, 42, 54, 0.75);
    overflow: hidden;
    height: 0;
    width: 413px;
    transition: .5s ease;
    color: white;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid-item {
    display: inline-grid;
    grid-template-columns: repeat(3, 420px);
    width: fit-content;
}

.grid-item:hover .info {
    height: 294px;
}

/*BLOG PAGE*/
.bienblog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bienvenida-blog {
    height: 717px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url("img/banner_zonablog.jpg") lightgray 50% / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bienvenida-blog div {
    width: 1200px;
    border: 0px;
    color: white;
}

.bienvenida-blog div {
    color: var(--Amarillo, #FEB500);
    text-align: center;
    text-shadow: 4px 2px 0px #E52522;
    flex-direction: column;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 24px 43px;
    width: 1400px;
    background-color: #002A54;
    border: 0px;
    border-radius: 30px;
}

#blog {
    display: flex;
    width: 1752px;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 111px 52px;
    flex-shrink: 0;
    flex-wrap: wrap;
    color: #E9E9E9;
    background-color: #E9E9E9;
}

.blog {
    width: 1922px;
    height: 836.004px;
    flex-shrink: 0;
}

#blogpage{
    background-color: var(--hueso);
    padding: 80px 40px;
}

#blog img {
    width: 471.777px;
    height: 695.25px;
    flex-shrink: 0;
    border-radius: 0px 0px 30px 30px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url("img/nota1.jpg") lightgray 50% / cover no-repeat;
}

/*Notas page----------------------------------Anita*/

.autor{
    font-size: 24px;
    font-weight: 700;
    margin: 0%;
}

.fecha{
    font-weight: 700;
}

.nota-completa{
    color: #002A54;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 140px 32% 150px 20%;
    gap: 38px;
}

.nota-completa h3{
    font-weight: 700;
    font-size: 38px;
    width: 526px;
}

.prev-articulos{
    color: #002A54;
    text-align: center;
}

.prev-articulos h4{
    font-weight: 700;
    font-size: 38px;
}

.bienv-nota-1{
    height: 450px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.2) 100%), url(img/banner_nota1.jpg) lightgray 50% / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #D9D9D9;
}

.bienv-nota-2{
    height: 450px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.2) 100%), url(img/banner_nota2.jpg) lightgray 50% / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #D9D9D9;
}

.bienv-nota-3{
    height: 450px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.2) 100%), url(img/banner_nota3.jpg) lightgray 50% / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #D9D9D9;
}

.fondo-nota{
    background-color: #002A54;
    padding: 40px 50px;
    text-align: center;
    border-radius: 2.19vw;
}

/*MAPA PAGE*/
.bienvenida-mapas {
    height: 717px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url("img/banner-mapa.jpeg") lightgray 50% / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bienvenida-mapas div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 24px 43px;
    width: 1600px;
    background-color: #FEB500;
    border: 0px;
    border-radius: 30px;
    color: #002A54;
}
.seccion-colectivo {
    height: 200px;
    background: #002A54;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FEB500;
    margin: 0px;
}

#mapas {
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    justify-content: space-between;
    gap: 100px;
    height: 1158px;
}
#contenedor-lineas {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 800px;
    height: 800px;
    margin-left: 380px;
    margin-bottom: 150px;
}
.btn-group-vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    justify-items: center;
    gap: 85px;
}
.btn-primary {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 50px;
    color: #D9D9D9;
    background-color: #E22522;
    border-radius: 30px;
    border-color: #E52522;
    height: 80px;
    bottom: 20%;
    width: 270px;
}
.btn-group-vertical>.btn~.btn {
    border-radius: 30px;
    width: 270px;
}
.btn-group-vertical>.btn:not(:last-child):not(.dropdown-toggle) {
    border-radius: 30px;
}
label {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    gap: 50px;
    color: #D9D9D9;
    background-color: #E22522;
    border-radius: 30px;
}
#contenedor-mapas {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
}
#mapas {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    transition: opacity 0.5s ease-in-out;
}
#contenedor-recorridos {
    display: flex;
}
.separador-main {
    background-color: #002A54;
    height: 200px;
}
#img-id  {
    margin-left: 460px;
    vertical-align: middle;
    margin-bottom: 60px;
}
@media screen and (max-width: 600px) {
    .bienvenida-mapas {
        height: 50vw;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url("img/banner_15 (1).jpg") lightgray 50% / cover no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h2 {
        font-size: 3vw;
        text-align: justify;
    }
    h4 {
        font-size: 2vw;
    }
    .bienvenida-mapas div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 24px 43px;
        width: 75vw;
        background-color: #FEB500;
        border: 0px;
        border-radius: 30px;
        color: #002A54;
    }
    .seccion-colectivo {
        height: 15vw;
        background: #002A54;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FEB500;
        font-size: 4vw;
        margin: 0px;
    }
    
    #mapas {
        display: flex;
        align-items: center;
        background-color: #D9D9D9;
        justify-content: space-between;
        gap: 100px;
        height: 1158px;
    }
    #contenedor-lineas {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 180vw;
        margin-left: 2vw;
        margin-top: 10vw;
    }
    .btn-group-vertical {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        justify-items: center;
        gap: 5vw;
        margin-left: 0vw;
        margin-bottom: 132vw;
    }
    .btn-primary {
        font-family: "IBM Plex Sans", sans-serif;
        font-size: 4vw;
        color: #D9D9D9;
        background-color: #E22522;
        border-radius: 30px;
        border-color: #E52522;
        height: 15vw;
        bottom: 20%;
        width: 15vw;
    }
    .btn-group-vertical>.btn~.btn {
        border-radius: 30px;
        width: 15vw;
    }
    .btn-group-vertical>.btn:not(:last-child):not(.dropdown-toggle) {
        border-radius: 30px;
        width: 15vw;
    }
    label {
        font-family: "IBM Plex Sans", sans-serif;
        font-size: 50px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
        gap: 50px;
        color: #D9D9D9;
        background-color: #E22522;
        border-radius: 30px;
    }
    #contenedor-mapas {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
    }
    #mapas {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
        transition: opacity 0.5s ease-in-out;
    }
    #contenedor-recorridos {
        display: flex;
    }
    .separador-main {
        background-color: #002A54;
        height: 200px;
    }
    #img-id  {
        margin-left: 460px;
        vertical-align: middle;
        margin-bottom: 60px;
    }
    
}


/*------------------------FIN MAPAS-----------------------------------*/

.mapa {
    width: 80%;
    height: 400px;
    margin: 20px auto;
}

ol{
    font-family: "IBM Plex Sans", sans-serif;
	font-weight: 400;
    font-size: 20px;
    color: var(--hueso);
}

li{
    list-style-type: none;
}
#redessociales{
    display: flex;
    justify-content: space-between;
    gap: 2.19vw;
}
.mobile{
    position: relative;
    display: inline-block;
    display: none;
}
.listanav2{
    background-color: var(--amarillo);
    color: var(--azul);
    border-bottom:5px solid var(--rojo);
    padding: 5px 25px;
    font-family: "IBM PlexSans";
    font-size: 4vw;
    border-radius: 15px;
    cursor: pointer;
    
}
.mostrar{
    display: none;
    flex-direction:column;
    align-items: center;
    position: absolute;
    background-color: var(--amarillo);
    z-index: 2;
    gap: 20px;
    border-radius: 15px;
    padding: 90px 10px 20px 10px;
}
.mostrar a{
    color: var(--azul);
    padding: 15px;
    font-family: "IBM Plex Sans";
    font-size: 16px;
    text-decoration: none;
    display: block;
}

@media only screen and (max-width: 1366px){
    #logo{
        width: 230px;
        height: auto;
        margin-top: 36px;
    }
    .imgnotas {
        width: 95%;
        height: auto;
    }
    .botonablog {
        padding: 8px 16px;
    }
    #infonotaindex{
        width: 95%;
        height: auto;
    }
    #historianosotros {
        margin: 2%;
    }
    #img {
        display: flex;
    }
    .infonotaindex {
        bottom: 80px;
        width: 95%;
    }
    #infonosotros {
        max-width: 37%;
    }
    #img1{
        width: 55%;
        height: auto;
    }
    #img2 {
        width: 40%;
        height: 100%;
    }
    label{
        font-size: 18px;
        height: 40px;
    }
    #enviar {
        font-size: 18px; 
        height: 55px;
    }
    .formulario-sobre-imagen {
        height: 75%;
        width: 50%;
        padding: 25px;
    }
    #blogin{
        gap: 0px;
    }
    .imgnotas{
        width: 95%;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    #logo {
        width: 50%;
        height: 50%;
        margin-top: 0px;
    }

    nav{
        height: 50px;
    }
    #navbotones{
        display: none;
    }
    /*galeria*/
    .bienvenida-galeria {
        height: 280px;
    }
    .bienvenida-galeria h2 {
        font-size: 30px;
    }

    .bienvenida-galeria h3 {
        font-size: 20px;
    }

    .info h3 {
        font-size: 20px;
    }

    .info h4 {
        font-size: 15px;
    }

    .dropbtn {
        font-size: 18px;
    }

    .flechita-galeria {
        height: 20%;
        width: 20%;
    }

    .show {
        display: grid;
        grid-template-columns: 100%;
        width: fit-content;
        justify-content: center;
    }
    
    .info {
        left: 0;
        position: absolute;
        bottom: auto;
        width: 313px;
    }

    .grid-item:hover .info {
        height: 223px;
    }

    .grid-item {
        display: grid;
        grid-template-columns: 100%;
        width: fit-content;
        justify-content: center;
    }

    .grid-item img {
        width: 313px;
        height: 223px;
    }

    body {
        width: 100vw;
    }
    /*dani---*/
    .text-content {
        margin-bottom: 10px; 
    }
    #logo {
        margin-top: 20px;
        width: 50%;
    }
    #video {
        content: url(img/banner-index-600.jpg);
    }
    #tituloh1in {
        font-size: 6vw; 
        padding: 8px 16px; 
        border-radius: 4vw; 
        text-shadow: 2px 2px 0 var(--celeste);
    }
    #subtitulo {
        font-size: 3vw; 
    }
/*----------------------------*/
    #galeriacarrusel {
        padding: 10px;
    }

    .bondis {
        font-size: 5vw; 
        margin-top: 5%;
        font-size: 6vw;
        text-shadow: 2px 2px 0 var(--azul);
    }

    .botongrande {
        font-size: 4vw; 
        padding: 8px 16px;
        border-radius: 8px;
        margin-bottom: 3%;
    }

    .carrusel {
        width: 100%; 
        height: auto; 
        border-radius: 4vw; 
    }
    .carousel-indicators{
        display: none;
    }
    /*---------------*/
    #blog {
        flex-direction: column;
        gap: 30px;
    }
    .indexnota {
        width: 100%;
        height: 475px;
    }
    .botonablog {
        font-size: 3.5vw;
        padding: 8px 16px;
    }
    h4{
    font-size: 4vw;
    width: 264px;
    }
    .descri{
        font-size: 3.5vw;
    }
/*----------------------------------------------------------------*/
/**/
#infomapain{
    width: 80%;
}
#blogin{
    display: flex;
    flex-direction: column;
}
.infonotaindex{
    bottom: 45px;
    padding: 25px;
}
/**/
#historianosotros {
    flex-direction: column;
    align-items: center;
}
#infonosotros {
    max-width: 90%; 
    padding: 30px;
    text-align: center;
}
h3 {
    font-size: 5vw; 
}
p {
    font-size: 3vw; 
}
#img {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#img1,
#img2 {
    display: none;
}
/*-----------------*/
.formulario-sobre-imagen {
    width: 90%; 
    height: auto;
    padding: 30px; 
    left: 5%; 
    right: 5%;
    top: 10%; 
    transform: translateY(0); 
    }
    legend {
        font-size: 24px; 
    }
    label, 
    #enviar {
        font-size: 16px; 
    }
    #redessociales {
        justify-content: center; 
    }
    #mapaindex {
        flex-direction: column-reverse; 
        align-items: center; 
        text-align: center;
    }
    #infomapa {
        width: 90%; 
        margin: 10px 0; 
    }
    #mapaindex img {
        width: 100%; 
        height: auto;
        margin-bottom: 20px;
    }
    .botonarutas {
        font-size: 3vw;
        padding: 12px 24px; 
        border-radius: 3vw; 
    }
    #textomapa{
        font-size: 4vw;
    }
    #titulomapa{
        font-size: 6vw;
    }
    #fondoform {
        content: url("img/formulario600.jpg");
        width: 100%; 
        height: auto;
    }
    #footer {
        position: relative;
        padding-top: 20px; 
    }
    
    #lineas {
        width: 100%; 
        height: 50px; 
        object-fit: cover; 
    }
    .mb-3{
        margin-left: 5%;
    }
    .form-control{
        width: 80%;
    }
    #interiorfooter{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    #staticimage{
        content: url(img/banner-index-600.jpg);
    }
    .mobile{
        display: flex;
        margin-right: 20px;
    }
    .carousel-control-next{ 
        content: url(img/flecha\ der.svg);
        opacity: 1;
        top: 110px;
        width: 15%;
        left: 300px;
    }
    .carousel-control-prev { 
        content: url(img/flecha\ izq.svg);
        opacity: 1;
        top: 110px;
        width: 15%;
        left: -14px;
    }
    label{
        height: 30px; 
    }
    .nota-completa{
        padding: 54px 10% 70px 8%;
    }
    .nota-completa h3{
        font-size: 20px;
        width: 90%;
    }
    .bienv-nota-1, .bienv-nota-2, .bienv-nota-3{
        height: 370px;
    }
    .fondo-nota{
        width: 90%;
    }
    .autor{
        font-size: 15px;
    }
    h2{
        font-size: 6.65vw;
    }
    .fondo-nota h3{
        font-size: 4vw;
        padding-top: 5px;
    }
    #blogin2{
        display: flex;
        flex-direction: column;
    }
}